.app__navbar-logo img{
    width: 250px;
    height: 60px;
    
}
.app__navbar{
    background-color:#37222B;
    display: flex;
    color: var(--color-golden);
    justify-content: space-between;
    padding: 0.2rem 2rem;
    width: 100%;
    font-family: var(--font-base);
    align-items: center;
    
}
.app__navbar-links{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.app__navbar-links li{
    margin: 0 1rem; 
    cursor: pointer;
}
.app__navbar-links li:hover{
    color:rgb(219, 155, 155) ;
}
.app__navbar-login{
    display: flex;
    justify-content: flex-end;
    align-items: center;
  
}
.app__navbar-login a{
   margin: 0 1rem;
   text-decoration: none;
   transition: 0.5s ease;
}
.app__navbar-login a:hover{
 border-bottom: 1px solid rgb(219, 155, 155);
}
.app__navbar-login_line{
    width: 1px;
    height: 25px;
    background-color:  rgb(219, 155, 155); 
}
.app__navbar-smallscreen{
    padding-top: 18px;
}

.app__navbar-smallscreen{
    display: none;
    cursor: pointer;
}
.app__navbar-smallscreen:hover{
    color: var(--color-pink) ;
}
.app__navbar-smallscreen_overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--color-maroon) ;
    transition: 0.5s ease;
    
    flex-direction: column;
    z-index: 5;
}
.app__navbar-smallscreen_overlay .overlay__close{
    font-size: 27;
    color: var(--color-golden);
    cursor: pointer;
    position: absolute;
    top: 20px;
    right:20px;
}

.app__navbar-smallscreen-links{
    list-style: none;
}
.app__navbar-smallscreen-links li{
   padding: 8px 0;
   cursor: pointer;
   color: var(--color-golden);
   font-size: 2rem;
   text-align: center;
   font-family: var(--font-base);
}

@media screen and (max-width: 2000px){
     .app__navbar-logo img{
        width: 250px;
        height: 60px;
     }
     
}

@media screen and (max-width: 1150px){
    .app__navbar-links{
        display: none;
    }

    .app__navbar-smallscreen{
        display: flex;
        justify-content: center;
    }
    
    .app__navbar-smallscreen-links li:hover{
        color: var(--color-pink);
    }
    .app__navbar-smallscreen{
        padding-top: 3px;
    }
    
}

@media screen and (max-width: 650px){
    .app__navbar{
        padding: 1rem;
    }
    .app__navbar-login{
        display: none;
    }
    .app__navbar-logo img{
        width: 180px;
        height: 40px;
     }
     .app__navbar-smallscreen{
        padding-top: 0px;
    }

}